Hello friend,<br /><br />

A series of automated tests has just finished running on the test system located at %site%. A total number of %num_total% tests ran, resulting in %num_pass% successful tests, %num_fail% failed tests, and %num_skip% skipped tests (blocked by failing tests or configuration). %jira% %jenkins%<br /><br />

A summary of the test results may be found below:<br />

Failing tests:<br />
&emsp;&emsp;%fail_list%<br />
&emsp;&emsp;<br />

Skipped tests:<br />
&emsp;&emsp;%skip_list%<br />
&emsp;&emsp;<br />

Passing tests:<br />
&emsp;&emsp;%pass_list%<br />
&emsp;&emsp;<br /><br /><br />
